body {
    background-color: #D8F3DC;
    color: #1B4332;
}

.navbar {
    justify-content: center;
}

.navbar a:link {
    color: #1B4332;  
}
.navbar a:visited {
    color: #40916C;
}
.navbar a:hover {
    color: #081C15;
}

.main {
    text-align: center;
}

.intro {
    float: right;
    padding-top: 100px;
}

.main img {
    width: 250px;
    height: 300px;
    float: left; 
    border-radius: 50px;   
}

.sMedia li {
        display: inline;
}

.sMedia img {
    width: 60px;
    height: 60px;
}

@media all and (max-width: 500px) /* 500 and below */
{
    .main img {
        text-align: center;
    }
}

@media all and (min-width: 500px)
{
    .main img {
        width: 100%;
        max-width: 400px;
        height: 100%;
        max-height: 600px;
    }
}
/*index above */
/* about me page below */
.fishingImg img {
    width: 300px;
    height: 300px;
    float: right;
    border-radius: 10%;
}
/* About me above */
/* contact info below */
.contactInfo ul {
    list-style-type: none;
}

.contactInfo img {
    width: 60px;
    height: 60px; 
}
/* contact info Above */
/* Footer below */
.footerInfo p {
    margin: 0;
}
